@font-face {
    font-family: 'Dancing Script';
    src: url('../../fonts/DancingScript-Regular.woff2') format('woff2'),
        url('../../fonts/DancingScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$primary_dark_color: #000;
$primary_white_text: #fff;
$primary_color: #566b85;
$primary_pink: #d7a7b7;



@mixin disp_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Times New Roman', Times, sans-serif !important;
}

img {
    width: 100%;
    height: auto;
}

.section {
    margin-top: 40px;
}

.section_title {
    color: $primary_color;
    font-family: 'Dancing Script';
    text-transform: uppercase;
}
.whatsapp{
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 10px;
    width: 6%;
    transition: 0.5s ease-in-out;
    &:hover{

        width: 7%;
    }
}

nav {

    background-color: #fff !important;
    transition: ease-out;
    border-bottom: 1px solid $primary_color;
    .wrap_nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navbar-brand {
        font-family: 'Scriptina';
        font-size: 2.8rem;
        color: $primary_color;
        margin-bottom: 30px;

        &:hover {
            color: #b38292;
        }
    }


    .nav_menu {

        a {
            font-family: inherit;
            text-transform: uppercase;
            font-size: 1rem;
            color: $primary_color;

            &:hover {
                color: #000;
            }
        }
    }
}

.first_section {
    background-image: url('../../../images/aureConnect/bannerAzure.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;


    .slideInUp {
        -webkit-animation-name: slideInUp;
        animation-name: slideInUp;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    @keyframes slideInUp {
        0% {
            -webkit-transform: translateY(150%);
            transform: translateY(150%);
            visibility: visible;
        }

        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

    }

    .first_section_cards {
        min-height: 100vh;
        display: flex;
        justify-content: center;

        .azure_section {
            width: 18%;
            height: fit-content;
            margin: 10px;
            border: 10px solid white;
            cursor: pointer;

            img {
                border: 10px solid white;
            }
        }
        .inverse{
            filter: grayscale(1);
        }

        

        .azureHijab {
            background-image: url(../../../images/aureConnect/azurehijab.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-color: #8e24aaad;
            height: 52vh;
            width: 32%;
            position: absolute;
            top: 325px;
            left: 130px;
            z-index: 2;
            transition: 0.5s ease-in-out;
            box-shadow: -1px 2px 45px 3px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: -1px 2px 45px 3px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -1px 2px 45px 3px rgba(0, 0, 0, 0.75);

            &:hover {
                height: 53vh;
                width: 33%;
                
            }
        }

        .azure2 {
            background-image: url(../../../images/accessories.jpeg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-color: #fff;
            width: 26%;
            height: 50vh;
            position: absolute;
            top: 25%;
            left: 37%;
            z-index: 1;
            transition: 0.5s ease-in-out;
            box-shadow: -1px 2px 45px 3px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: -1px 2px 45px 3px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -1px 2px 45px 3px rgba(0, 0, 0, 0.75);
            filter: grayscale(1);
            &:hover {
                width: 27%;
                height: 51vh;           
            }
        }


        .azure3 {
            background-image: url(../../../images/bakery1.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-color: #7cb342;
            width: 24%;
            height: 56vh;
            position: absolute;
            top: 30%;
            left: 61%;
            z-index: 0;
            transition: 0.5s ease-in-out;
            filter: grayscale(1);

            box-shadow: 10px 10px 28px -6px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 10px 10px 28px -6px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 10px 10px 28px -6px rgba(0, 0, 0, 0.75);

            &:hover {
                width: 25%;
                height: 57vh;
            }
        }
    }
}


.ayah_section {
    background-color: $primary_color;
    height: 40vh;
    color: #fff;
    text-align: center;
    @include disp_flex();
    font-family: 'Dancing Script', handwriting;

    p {
        font-size: 2rem;

    }

}

.about_section {
    position: relative;

    .about_left {
        width: 80%;
        margin-left: 100px;
        height: 80vh;
        filter: brightness(120%);
        background: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(../../../images/abaya/Sand_1.png);
    }

    .about_right {
        border: 1px solid #959090;
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        box-shadow: 5px 6px 10px 1px #959090;
        ;
        -webkit-box-shadow: 5px 6px 10px 1px #959090;
        ;
        -moz-box-shadow: 5px 6px 10px 1px #959090;
        ;

        .about_text {
            padding: 15px;

            h3 {
                font-size: 3rem;
                font-weight: bolder;
            }
        }
    }
}

.second_section {

    .card_collection {
        @include disp_flex;

        .card {

            margin: 20px;
            cursor: pointer;
            transition: 0.3s ease-in-out;
            filter: brightness(110%);

            &:hover {
                box-shadow: 9px -5px 18px -4px rgba(0, 0, 0, 0.65);
                -webkit-box-shadow: 9px -5px 18px -4px rgba(0, 0, 0, 0.65);
                -moz-box-shadow: 9px -5px 18px -4px rgba(0, 0, 0, 0.65);
            }

            a.card_link {
                color: $primary_dark_color;
                text-decoration-line: none;
            }

            .card_desc_title {
                font-weight: 700;
            }
        }
    }
}

.contact_section {
    .contact_form {

        @include disp_flex();

        form {
            .form_submit {
                background-color: $primary_color;
                color: $primary_white_text;
            }
        }
    }
}

.footer {
    background-color: $primary_color;

    span.copy_right {
        font-size: 0.8rem;
        color: #fff;
    }

    ul {
        .footer_line {
            display: none;
        }

        li {
            list-style: none;
            color: $primary_white_text
        }
    }

    .footer_menu_links {

        @include disp_flex();

        ul li a {
            cursor: pointer;
            color: $primary_white_text;

            &:hover {
                color: $primary_white_text;
                text-decoration-line: none;
            }
        }
    }

    .azure_footer {
        font-family: 'Scriptina';
        font-size: 2rem;
    }

}




@media only screen and (min-device-width: 320px) and (max-device-width: 520px) and (-webkit-min-device-pixel-ratio: 2){
    nav {
       

        .nav_menu {
            background-color: $primary_color;

          
        }
    
}

// For Tab screen

// @media only screen 
//   and (min-device-width: 768px) 
//   and (max-device-width: 1024px) 
//   and (-webkit-min-device-pixel-ratio: 1) {


// }