@mixin disp_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.jilbaab_section {
    @include disp_flex();
    min-height: 70vh;
    margin-top: 25px;
}

.pages_nav {
    background-color: #566b85 !important;
}

.page_title {
    @include disp_flex();
    text-transform: uppercase;
    color: #566b85;
}

.color-circle {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: inline-block;
    position: relative;
    top: 5px;
    opacity: 0.8;
    border: 1px solid;
}