@mixin disp_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page__section {
    @include disp_flex();
    min-height: 70vh;
    margin-top: 60px;
}

.pages_nav {
    background-color: #566b85 !important;
}

.page_title {
    @include disp_flex();
    text-transform: uppercase;
    color: #566b85;
    font-weight:bolder;
}

.color-circle {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: inline-block;
    position: relative;
    top: 5px;
    opacity: 0.8;
    border: 1px solid;
}

table, th, td {
    border: 1px solid rgb(255, 253, 253);
    border-collapse: collapse;
  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .page_title {
        margin-top: 70px;
        h1{
            font-size: 2rem;
        }
    }

}