@font-face {
  font-family: "Dancing Script";
  src: url("../../fonts/DancingScript-Regular.woff2") format("woff2"), url("../../fonts/DancingScript-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Times New Roman", Times, sans-serif !important;
}

img {
  width: 100%;
  height: auto;
}

.section {
  margin-top: 40px;
}

.section_title {
  color: #566b85;
  font-family: fantasy;
}

nav {
  background-color: rgba(0, 0, 0, 0.164);
  transition: ease-out;
}
nav .navbar-brand {
  font-family: "Scriptina";
  font-size: 2rem;
}
nav .navbar-brand:hover {
  color: #fff;
}
nav a {
  color: #fff;
}
nav .nav_menu a {
  font-family: inherit;
  text-transform: uppercase;
  font-size: 0.8rem;
}
nav .nav_menu a:hover {
  color: #fff;
}

.first_section {
  background-image: url("../images/banner_image.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}
.first_section:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.first_section .slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideInUp {
  0% {
    transform: translateY(150%);
    visibility: visible;
  }
  100% {
    transform: translateY(0);
  }
}
.first_section .first_section_text {
  text-align: center;
  color: #fff;
  line-height: 25px;
  z-index: 999;
}
.first_section h1 {
  font-size: 4rem;
  line-height: 2;
  text-shadow: 3px -2px 4px #575252bf;
}
.first_section p {
  word-spacing: 8pt;
  text-shadow: 3px -2px 4px #575252bf;
}
.first_section .banner_view_btn {
  border: none;
  padding: 10px 20px;
  background: #00000075;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-top: 40px;
  cursor: pointer;
}

.ayah_section {
  background-color: #566b85;
  height: 40vh;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Dancing Script", handwriting;
}
.ayah_section p {
  font-size: 2rem;
}

.about_section {
  position: relative;
}
.about_section .about_left {
  width: 80%;
  margin-left: 100px;
  height: 80vh;
  filter: brightness(120%);
  background: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/abaya/Sand_1.png);
}
.about_section .about_right {
  border: 1px solid #959090;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 5px 6px 10px 1px #959090;
  -webkit-box-shadow: 5px 6px 10px 1px #959090;
  -moz-box-shadow: 5px 6px 10px 1px #959090;
}
.about_section .about_right .about_text {
  padding: 15px;
}
.about_section .about_right .about_text h3 {
  font-size: 3rem;
  font-weight: bolder;
}

.second_section .card_collection {
  display: flex;
  justify-content: center;
  align-items: center;
}
.second_section .card_collection .card {
  margin: 20px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  filter: brightness(110%);
}
.second_section .card_collection .card:hover {
  box-shadow: 9px -5px 18px -4px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 9px -5px 18px -4px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 9px -5px 18px -4px rgba(0, 0, 0, 0.65);
}
.second_section .card_collection .card a.card_link {
  color: #000;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.second_section .card_collection .card .card_desc_title {
  font-weight: 700;
}

.contact_section .contact_form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_section .contact_form form .form_submit {
  background-color: #566b85;
  color: #fff;
}

.footer {
  background-color: #566b85;
}
.footer span.copy_right {
  font-size: 0.8rem;
  color: #fff;
}
.footer ul .footer_line {
  display: none;
}
.footer ul li {
  list-style: none;
  color: #fff;
}
.footer .footer_menu_links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer_menu_links ul li a {
  cursor: pointer;
  color: #fff;
}
.footer .footer_menu_links ul li a:hover {
  color: #fff;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.footer .azure_footer {
  font-family: "Scriptina";
  font-size: 2rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  nav .social-icon {
    display: none;
  }
  nav .nav_menu {
    background-color: #566b85;
  }
  nav .nav_menu .navbar-nav span {
    text-align: center;
  }

  .first_section {
    background-image: url(../images/banner_image.png);
    background-position: left;
  }
  .first_section h1 {
    font-size: 2.5rem;
    line-height: 1;
  }
  .first_section p {
    word-spacing: 2pt;
  }

  .second_section .card_collection .card {
    margin: 5px;
  }

  .ayah_section .ayah_text {
    margin: 20px;
  }
  .ayah_section p {
    font-size: 1rem;
  }

  .section_title h1 {
    font-size: 2rem;
  }

  .footer span.copy_right {
    font-size: 0.5rem;
  }
  .footer .azure_footer {
    font-size: 1.5rem;
    padding: 15px;
  }
  .footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }
  .footer ul .footer_line {
    display: contents;
  }
  .footer ul li {
    font-size: 0.8rem;
    padding: 10px;
  }
}/*# sourceMappingURL=style.css.map */