@font-face {
  font-family: "Dancing Script";
  src: url("../../fonts/DancingScript-Regular.woff2") format("woff2"), url("../../fonts/DancingScript-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Scriptina";
  src: url("../../fonts/scriptinaWoff/Scriptina.woff") format("woff2"), url("../../fonts/scriptinaWoff/Scriptina.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Times New Roman", Times, sans-serif !important;
  overflow: scroll;
  padding-top: 70px;
}

img {
  width: 100%;
  height: auto;
}

.whatsapp {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px;
  width: 6%;
  transition: 0.5s ease-in-out;
}
.whatsapp:hover {
  width: 7%;
}

.section {
  margin-top: 40px;
}

nav {
  background-color: #fff !important;
  transition: ease-out;
}
nav .wrap_nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav .navbar-brand {
  font-family: "Scriptina";
  font-size: 2.8rem;
  color: #b38292;
  margin-bottom: 30px;
}
nav .navbar-brand:hover {
  color: #000;
}
nav .nav_menu a {
  font-family: inherit;
  text-transform: uppercase;
  font-size: 1rem;
  color: #d7a7b7;
}
nav .nav_menu a:hover {
  color: #000;
}

.first_section {
  background-image: url("../images/aureConnect/bannerAzure.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
}
.first_section .first_section_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.first_section .first_section_cards .azure_section img {
  border: 10px solid #fff;
}
.first_section .first_section_cards .inverse {
  filter: grayscale(1);
}
.first_section .first_section_cards .azurehijab {
  position: absolute;
  z-index: 3;
  left: 93px;
  bottom: 35px;
  transition: 0.4s ease-in-out;
}
.first_section .first_section_cards .azurehijab a img {
  transition: 0.4s ease-in-out;
}
.first_section .first_section_cards .azurehijab:hover a img {
  width: 105%;
}
.first_section .first_section_cards .azurehijab:hover ~ .azureKitch img {
  filter: grayscale(1);
}
.first_section .first_section_cards .azurehijab:hover ~ .azureBake img {
  filter: grayscale(1);
}
.first_section .first_section_cards .azureKitch {
  z-index: 2;
  transition: 0.4s ease-in-out;
}
.first_section .first_section_cards .azureKitch a img {
  transition: 0.4s ease-in-out;
}
.first_section .first_section_cards .azureKitch:hover {
  z-index: 3;
}
.first_section .first_section_cards .azureKitch:hover a img {
  width: 105%;
}
.first_section .first_section_cards .azureBake {
  position: absolute;
  right: 86px;
  bottom: 120px;
  z-index: 1;
  transition: 0.4s ease-in-out;
}
.first_section .first_section_cards .azureBake a img {
  transition: 0.4s ease-in-out;
}
.first_section .first_section_cards .azureBake:hover {
  z-index: 3;
}
.first_section .first_section_cards .azureBake:hover a img {
  width: 105%;
}

.abt_section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  min-height: 70vh;
}
.abt_section .banner_text {
  border: 1px solid #d7a7b7;
  padding: 65px;
  text-align: center;
  color: #b38292;
  box-shadow: -1px 2px 45px 3px #d7a7b7;
  -webkit-box-shadow: -1px 2px 45px 3px #d7a7b7;
  -moz-box-shadow: -1px 2px 45px 3px #d7a7b7;
  font-family: "Dancing Script";
  font-size: 1.5rem;
}

.contact_section .contact_form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_section .contact_form form .form_submit {
  background-color: #b38292;
  color: #fff;
}

.footer {
  background-color: #b38292;
}
.footer span.copy_right {
  font-size: 0.8rem;
  color: #fff;
}
.footer ul .footer_line {
  display: none;
}
.footer ul li {
  list-style: none;
  color: #fff;
}
.footer .footer_menu_links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer_menu_links ul li a {
  cursor: pointer;
  color: #fff;
}
.footer .footer_menu_links ul li a:hover {
  color: #fff;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.footer .azure_footer {
  font-family: "Scriptina";
  font-size: 2rem;
}

.wip {
  min-height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d7a7b752;
  color: #d7a7b7;
}
.wip .wip_text {
  background-color: #fff;
  padding: 10px;
}
.wip .wip_text h1 {
  font-size: 2.8rem;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  nav .social-icon {
    display: none;
  }
  nav .navbar-brand {
    margin-bottom: 12px;
  }
  nav .nav_menu {
    width: 100%;
  }
  nav .nav_menu .dropdown-menu {
    text-align: center;
  }
  nav .nav_menu a {
    color: #b38292;
  }
  nav .nav_menu .navbar-nav span {
    text-align: center;
  }

  .whatsapp {
    width: 22%;
  }

  .first_section {
    margin-top: 140px;
  }
  .first_section .first_section_cards {
    flex-direction: column;
    padding: 45px;
  }
  .first_section .first_section_cards .azure_section {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .first_section .first_section_cards .azurehijab {
    position: static;
  }
  .first_section .first_section_cards .azureKitch {
    position: static;
  }
  .first_section .first_section_cards .azureBake {
    position: static;
  }

  .about_section .about_left {
    width: 100%;
    margin-left: 0;
    height: 55vh;
  }
  .about_section .about_right {
    position: static !important;
    transform: none;
  }
  .about_section .about_right .about_text h3 {
    font-size: 2rem;
  }

  .second_section .card_collection .card {
    margin: 25px;
  }

  .ayah_section .ayah_text {
    margin: 20px;
  }
  .ayah_section p {
    font-size: 1rem;
  }

  .section_title h1 {
    font-size: 2rem;
  }

  .footer span.copy_right {
    font-size: 0.5rem;
  }
  .footer .azure_footer {
    font-size: 1.5rem;
    padding: 15px;
  }
  .footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }
  .footer ul .footer_line {
    display: contents;
    color: #fff;
  }
  .footer ul li {
    font-size: 0.8rem;
    padding: 10px;
  }
}/*# sourceMappingURL=style.css.map */