@font-face {
    font-family: 'Dancing Script';
    src: url('../../fonts/DancingScript-Regular.woff2') format('woff2'),
        url('../../fonts/DancingScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$primary_dark_color: #000;
$primary_white_text: #fff;
$nav_bg_color: rgba(0, 0, 0, 0.165);
$btn_bg_grey: #00000075;
$primary_color: #566b85;



@mixin disp_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Times New Roman', Times, sans-serif !important;
    overflow: scroll;
}

img {
    width: 100%;
    height: auto;
}

.whatsapp {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 10px;
    width: 6%;
    transition: 0.5s ease-in-out;

    &:hover {

        width: 7%;
    }
}

nav {

    background-color: #fff !important;
    transition: ease-out;

    .wrap_nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navbar-brand {
        font-family: 'Scriptina';
        font-size: 2.8rem;
        color: #b38292;
        margin-bottom: 30px;

        &:hover {
            color: #000;
        }
    }


    .nav_menu {

        a {
            font-family: inherit;
            text-transform: uppercase;
            font-size: 1rem;
            color: #d7a7b7;

            &:hover {
                color: #000;
            }
        }
    }
}

.first_section {
    background-image: url('../images/aureConnect/bannerAzure.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;


    .slideInUp {
        -webkit-animation-name: slideInUp;
        animation-name: slideInUp;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    @keyframes slideInUp {
        0% {
            -webkit-transform: translateY(150%);
            transform: translateY(150%);
            visibility: visible;
        }

        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

    }

    .first_section_cards {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        
        .azureHijab_wrap{

            &:hover {
                
                ~ .azureHijab2{
                    .azure2{
                        filter: grayscale(1);
                    }
                }

                ~ .azureHijab3{
                    .azure3{
                        filter: grayscale(1);
                    }
                }
            }
        }
       
        

        .azure_section {
            width: 18%;
            height: fit-content;
            margin: 10px;
            border: 10px solid white;
            cursor: pointer;

            img {
                border: 10px solid white;
                // border-radius: 25px 25px;
            }
        }
        .inverse{
            filter: grayscale(1);
        }

        

        .azureHijab {
            background-image: url(../images/aureConnect/azurehijab.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-color: #8e24aaad;
            height: 52vh;
            width: 32%;
            position: absolute;
            top: 325px;
            left: 130px;
            z-index: 2;
            transition: 0.5s ease-in-out;
            box-shadow: -1px 2px 45px 3px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: -1px 2px 45px 3px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -1px 2px 45px 3px rgba(0, 0, 0, 0.75);

            &:hover {
                height: 53vh;
                width: 33%;
                
            }
        }

        .azure2 {
            background-image: url(../images/accessories.jpeg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-color: #fff;
            width: 26%;
            height: 50vh;
            position: absolute;
            top: 25%;
            left: 37%;
            z-index: 1;
            transition: 0.5s ease-in-out;
            box-shadow: -1px 2px 45px 3px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: -1px 2px 45px 3px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -1px 2px 45px 3px rgba(0, 0, 0, 0.75);

            &:hover {
                width: 27%;
                height: 51vh;           
            }
        }


        .azure3 {
            background-image: url(../images/bakery1.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-color: #7cb342;
            width: 24%;
            height: 56vh;
            position: absolute;
            top: 30%;
            left: 61%;
            z-index: 0;
            transition: 0.5s ease-in-out;

            box-shadow: 10px 10px 28px -6px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 10px 10px 28px -6px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 10px 10px 28px -6px rgba(0, 0, 0, 0.75);

            &:hover {
                width: 25%;
                height: 57vh;
            }
        }
    }
}
.abt_section{
    @include disp_flex();
    margin-top: 40px;
    min-height: 70vh;
    .banner_text{
        border: 1px solid #d7a7b7;
        padding: 65px;
        text-align: center;
        color: #b38292;
        box-shadow: -1px 2px 45px 3px #d7a7b7;
            -webkit-box-shadow: -1px 2px 45px 3px #d7a7b7;
            -moz-box-shadow: -1px 2px 45px 3px #d7a7b7;
        font-family: 'Dancing Script';
        font-size: 1.5rem;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {

    .first_section {

        min-height: 180vh;

        .first_section_cards {
            .azureHijab {

                height: 40vh;
                width: 68%;
                position: absolute;
                top: 198px;
                left: 45px;
            }

            .azure2 {
                width: 68%;
                height: 40vh;
                position: absolute;
                top: 83%;
                left: 14%;
            }

              .azure3{
                width: 68%;
                height: 40vh;
                position: absolute;
                top: 130%;
                left: 14%;
                box-shadow: -1px 2px 45px 3px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: -1px 2px 45px 3px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -1px 2px 45px 3px rgba(0, 0, 0, 0.75);
            }
        }



    }
}