@font-face {
    font-family: 'Dancing Script';
    src: url('../../fonts/DancingScript-Regular.woff2') format('woff2'),
        url('../../fonts/DancingScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Scriptina';
    src: url('../../fonts/scriptinaWoff/Scriptina.woff') format('woff2'),
        url('../../fonts/scriptinaWoff/Scriptina.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



$primary_dark_color: #000;
$primary_white_text: #fff;
$nav_bg_color: rgba(0, 0, 0, 0.165);
$btn_bg_grey: #00000075;
$primary_color: #566b85;
$primary_pink_color: #d7a7b7;
$secondary_pink_color: #b38292;




@mixin disp_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Times New Roman', Times, sans-serif !important;
    overflow: scroll;
    padding-top: 70px; 
}

img {
    width: 100%;
    height: auto;
}

.whatsapp {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 10px;
    width: 6%;
    transition: 0.5s ease-in-out;

    &:hover {

        width: 7%;
    }
}



.section {
    margin-top: 40px;
}

nav {

    background-color: #fff !important;
    transition: ease-out;

    .wrap_nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navbar-brand {
        font-family: 'Scriptina';
        font-size: 2.8rem;
        color: $secondary_pink_color;
        margin-bottom: 30px;

        &:hover {
            color: #000;
        }
    }


    .nav_menu {

        a {
            font-family: inherit;
            text-transform: uppercase;
            font-size: 1rem;
            color: $primary_pink_color;

            &:hover {
                color: #b38292;
            }
            &:active{
                background-color: #d7a7b7 !important;
            }
        }
        .dropdown{

            .dropdown-item{
                &:active{
                    background-color: #d7a7b7 !important;
                }
            }
        }
    }
}
.first_section {
    background-image: url('../images/aureConnect/bannerAzure.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 140px;

    .first_section_cards {

        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .azure_section {
            img {
                border: 10px solid #fff;
            }
        }
        .inverse{
            filter: grayscale(1);
        }
        .azurehijab {
            position: absolute;
            z-index: 3;
            left: 93px;
            bottom: 35px;
            transition: 0.4s ease-in-out;

            a{
                img{

                    transition: 0.4s ease-in-out;
                }
            }
            &:hover {
                a{
                  img{
                    width: 105%;
                  }  
                }
                ~ .azureKitch{
                    img{
                        filter: grayscale(1);
                    }
                }

                ~ .azureBake{
                    img{
                        filter: grayscale(1);
                    }
                }
            }
        }
        .azureKitch{
            z-index: 2;
            transition: 0.4s ease-in-out;

            a{
                img{

                    transition: 0.4s ease-in-out;
                }
            }
            &:hover {
                z-index: 3;

                a{
                  img{
                    width: 105%;
                  }  
                }
            }
        }

        .azureBake {
            position: absolute;
            right: 86px;
            bottom: 120px;        
            z-index: 1;
            transition: 0.4s ease-in-out;

            a{
                img{

                    transition: 0.4s ease-in-out;
                }
            }
            &:hover {
                z-index: 3;
                a{
                  img{
                    width: 105%;
                  }  
                }
            }
        }
    }
}

.abt_section{
    @include disp_flex();
    margin-top: 40px;
    min-height: 70vh;
    .banner_text{
        border: 1px solid $primary_pink_color;
        padding: 65px;
        text-align: center;
        color: $secondary_pink_color;
        box-shadow: -1px 2px 45px 3px $primary_pink_color;
            -webkit-box-shadow: -1px 2px 45px 3px $primary_pink_color;
            -moz-box-shadow: -1px 2px 45px 3px $primary_pink_color;
        font-family: 'Dancing Script';
        font-size: 1.5rem;
    }
}

.contact_section {
    .contact_form {

        @include disp_flex();

        form {
            .form_submit {
                background-color: $secondary_pink_color;
                color: $primary_white_text;
            }
        }
    }
}

.footer {
    background-color: $secondary_pink_color;

    span.copy_right {
        font-size: 0.8rem;
        color: #fff;
    }

    ul {
        .footer_line {
            display: none;
        }

        li {
            list-style: none;
            color: $primary_white_text
        }
    }

    .footer_menu_links {

        @include disp_flex();

        ul li a {
            cursor: pointer;
            color: $primary_white_text;

            &:hover {
                color: $primary_white_text;
                text-decoration-line: none;
            }
        }
    }

    .azure_footer {
        font-family: 'Scriptina';
        font-size: 2rem;
    }


}   


.wip{
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d7a7b752;
    color: #d7a7b7; 
    .wip_text{
        background-color: #fff;
        padding: 10px;
     h1{
        font-size: 2.8rem;
        text-transform: uppercase;
     }
    }
}

@media (max-width: 767px)
{

    nav {
        .social-icon {
            display: none;
        }
        .navbar-brand{
            margin-bottom: 12px;
        }
        .nav_menu {
            
            // background-color: $primary_color;
            width: 100%;
            .dropdown-menu{
                text-align: center;
            }
          
            a{
                color: $secondary_pink_color;
            }
            .navbar-nav {
                span {
                    text-align: center;
                }
            }
        }
    }
    .whatsapp{
        
        width: 22%;
       
    }
    .first_section {
        margin-top: 140px;

        .first_section_cards {

            flex-direction: column;
            padding: 45px;
            .azure_section {
                margin-top: 10px;
                margin-bottom: 10px;
            }
            .azurehijab{
                position: static;
            }
            .azureKitch{
                position: static;
            }
            .azureBake{
                position: static;
            }

        }
    }

    .about_section {
        .about_left {
            width: 100%;
            margin-left: 0;
            height: 55vh;
        }

        .about_right {
            position: static !important;
            transform: none;

            .about_text {
                h3 {
                    font-size: 2rem;
                }
            }
        }
    }

    .second_section {
        .card_collection {

            .card {
                margin: 25px;
            }
        }
    }

    .ayah_section {
        .ayah_text {
            margin: 20px;
        }

        p {

            font-size: 1rem;
        }
    }

    .section_title {
        h1 {

            font-size: 2rem;
        }
    }

    .footer {
        span.copy_right {
            font-size: 0.5rem;

        }

        .azure_footer {
            font-size: 1.5rem;
            padding: 15px;
        }

        ul {
            .footer_line {
                display: contents;
                color: #fff;
            }
           
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 0;

            li {
                font-size: 0.8rem;
                padding: 10px;
            }
        }
    }
}




