@media only screen and (min-device-width: 320px) and (max-device-width: 520px) and (-webkit-min-device-pixel-ratio: 2) {


    nav {
        .social-icon {
            display: none;
        }
        .navbar-brand{

            margin-bottom: 12px;
        }
        .nav_menu {
            background-color: #566b85;
            width: 100%;
            a{
                color: #fff;
            }
            .navbar-nav {
                text-align: center;
                span {
                    text-align: center;
                }
            }
        }
    }
    .whatsapp{
        
        width: 22%;
       
    }
    .first_section {
        margin-top: 140px;

        .first_section_cards {

            flex-direction: column;
            padding: 45px;
            .azure_section {
                margin-top: 10px;
                margin-bottom: 10px;
            }
            .azurehijab{
                position: static;
            }
            .azureKitch{
                position: static;
            }
            .azureBake{
                position: static;
            }

        }
    }

    .about_section {
        .about_left {
            width: 100%;
            margin-left: 0;
            height: 55vh;
        }

        .about_right {
            position: static !important;
            transform: none;

            .about_text {
                h3 {
                    font-size: 2rem;
                }
            }
        }
    }

    .second_section {
        .card_collection {

            .card {
                margin: 25px;
            }
        }
    }

    .ayah_section {
        .ayah_text {
            padding: 20px;
            margin: 20px;
        }

        p {

            font-size: 1rem;
        }
    }

    .section_title {
        h1 {

            font-size: 2rem;
        }
    }

    .footer {
        span.copy_right {
            font-size: 0.5rem;

        }

        .azure_footer {
            font-size: 1.5rem;
            padding: 15px;
        }

        ul {
            .footer_line {
                display: contents;
                color: #fff;
            }
           
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 0;

            li {
                font-size: 0.8rem;
                padding: 10px;
            }
        }
    }

    .page__section{
        .page_title{
                margin-top: 110px;
            
        }
    }
}

// For Tab screen

// @media only screen 
//   and (min-device-width: 768px) 
//   and (max-device-width: 1024px) 
//   and (-webkit-min-device-pixel-ratio: 1) {


// }